.page__intro_gray {
    background-color: var(--gray);
}

.page__content {
    flex-grow: 1;
}

.intro {
    padding-top: 102px;
    padding-bottom: 110px;
}

.intro__content {
    /*левая часть контента*/
    position: relative;
    bottom: 12px;
    max-width: 616px;
    margin-bottom: 20px;
    margin-right: 0px;
}

.intro__heading {
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
}

.intro__text {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 62px;
    max-width: 544px;
    width: 100%;
}

.intro__button {
    width: 228px;
    height: 56px;
    border: 0;
    color: var(--white);
    background-color: var(--red);
}

.intro__button:hover {
    color: var(--red);
    background-color: var(--black);

}

.intro__video {
    /*правая часть контента*/
    max-width: 550px;
    width: 100%;
    min-height: 356px;
    margin-left: 82px;
    border: none;
}

/* Responsive */
/* 1286 - средняя стандартная ширина монитора */
@media screen and (max-width: 1286px) {
    .intro {
        flex-wrap: nowrap;
    }

    .intro__content {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 16px;
    }

    .intro__heading {
        font-size: 5vw;
    }

    .intro__video {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 1100px) {
    .intro {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .intro__content {
        left: 40px;
        bottom: 60px;
    }
}
@media screen and (max-width: 600px) {
    .intro__video {
        margin: auto;
        max-width: 500px;
        width: 100%;
    }
}