.feedback-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 104px;
    padding-bottom: 106px;
    gap: 5.5vw;
    flex-wrap: wrap;
}
.feedback {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 753px;
    width: 100%;
}
.feedback__heading {
    margin: 0;
    padding-bottom: 44px;
}

.feedback__text {
    margin: 0;
    max-width: 752px;
    width: 100%;
    min-height: 73px;
    margin-bottom: 58px;
}

.feedback__line {
    margin: 0;
}
.feedback__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 736px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.feedback__input {
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    padding-left: 50px;
    color: #2C2C2C;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    background-color: #f3f3f3;
}
.feedback-input__name,
.feedback-input__mail {
    display: flex;
    width: 342px;
    min-height: 70px;
    margin: 74px 0 44px 0;
}
.feedback-input__name {
    margin-right: 50px;
}
.input__message {
    max-width: 734px;
    width: 100%;
    min-height: 252px;
    padding-top: 32px;
    margin: 0;
    resize: none;
    margin-bottom: 44px;
}

.feedback__button {
    width: 731px;
    height: 75px;
    border: none;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
}

.feedback__button:hover {
    color: var(--red);
    background-color: var(--black);
}
.contacts {
    box-sizing: border-box;
    background-color: #2D2D2D;
    width: 580px;
    height: 484px;
    padding: 141px 184px 141px 81px;
}
.contacs__heading {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: var(--white);
}

.contacts__address {
    line-height: 28px;
    color: var(--white);
}

.contacts__line {
    margin-bottom: 27px;
}