.footer {
    background-color: #313030;
    width: 100%;
    min-height: 113px;
}

.footer__contant {
    box-sizing: border-box;
    padding-top: 53px;
    padding-bottom: 34px;
    justify-content: space-between;
}

.footer__copyright {
    margin: 0;
    color: #B8B8B8;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.footer__link {
    display: inline-block;
}

.footer__social-links>.footer__link:not(:last-child) {
    margin-right: 18px;
}