.footer {
    background-color: #313030;
    width: 100%;
    min-height: 113px;
}

.footer__contant {
    box-sizing: border-box;
    padding-top: 53px;
    padding-bottom: 34px;
    justify-content: space-between;
}

.footer__copyright {
    margin: 0;
    color: #B8B8B8;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.footer__link {
    display: inline-block;
}

.footer__social-links>.footer__link:not(:last-child) {
    margin-right: 18px;
}
.footer__link:hover {
    background-color: var(--red);
}
/* Responsive */
@media screen and (max-width: 600px) {
    .footer__contant {
        flex-direction: column;
        align-items: center;
    }
    .footer__copyright {
        margin-bottom: 14px;
    }
}